body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
}

h2 {
    color: #333;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 60%;
}

table, th, td {
    border: 1px solid #333;
    padding: 10px;
}

button {
    padding: 8px 15px;
    background-color: green;
    color: white;
    border: none;
}