{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>

    <h2>User Registration</h2>

    <form method="POST">
        <input type="text" name="name" placeholder="Enter Name" required><br><br>
        
        <input type="email" name="email" placeholder="Enter Email" required><br><br>
        
        <input type="password" name="password" placeholder="Enter Password" required><br><br>

        <select name="role">
            <option value="student">Student</option>
            <option value="tutor">Tutor</option>
        </select><br><br>

        <button type="submit">Register</button>
    </form>

</body>
</html>
{% endblock %}